blockquote {
  font-style: italic
}

/* Whole document: */
body{
  font-size: 11pt;
  width:700px;
  margin:0 auto;
}
/* Headers */
h1{
  font-size: 15pt;
}
h2,h3,h4,h5,h6{
  font-size: 12pt;
  font-style: italic;
}


.wrapper {
  background-image: url("modelling_and_computing_the_world.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 150px;
  display: block;
}

.containerfig {
  /* Center vertically and horizontally */
  display: flex;
  justify-content: center;
  align-items: center;
}



/* Create two equal columns that floats next to each other */
.column {
  float: left;
  padding: 10px;
}

.left {
  width: 30%;
}

.right {
  width: 70%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}