blockquote {
  font-style: italic
}

/* Whole document: */
body{
  font-size: 11pt;
  width:800px;
  margin:0 auto;
}
/* Headers */
h1{
  font-size: 15pt;
}
h2,h3,h4,h5,h6{
  font-size: 12pt;
  font-style: italic;
}


.wrapper {
  background-image: url("modelling_and_computing_the_world.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 150px;
  display: block;
}

